.add-song {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    overflow-y: auto;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
}

.add-song h2 {
    text-align: center;
    font-size: 70px;
    color: #6AE1DB;
    font-family: 'Times New Roman', serif;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.search-song input {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: calc(100vw - 40px);
}

.search-button {
    background-color: #222222;
    color: white;
    width: 90px;
    height: 50px;
    font-size: 17px;
    text-align: center;
    border-color: #6AE1DB;
}

.search-button:hover {
    background-color: #222222;
    color: white;
    border: none;
    transition: all ease 0.4s;
}

.fetch-song {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: calc(100vw - 40px);
    overflow-x: scroll;
}

.song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 170px;
}

.album-cover {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    font-size: 15px;
    color: white;
    white-space: nowrap;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-button {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #222222;
    color: white;
    cursor: pointer;
}

.add-button:hover {
    background-color: black;
    border: #6AE1DB 1px solid;
    color: white;
    transition: all ease 0.4s;
}

h3 {
    color: white;
    padding: 30px 0 10px 0;
    font-family: 'Times New Roman', serif;
}