.add-song {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.search-song input {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 500px;
    margin-bottom: 70px;
    font-size: 17px;
}

.search-button {
    background-color: #6AE1DB;
    color: black;
    border: none;
    width: 90px;
    height: 50px;
    font-size: 17px;
    text-align: center;
}

.results {
    flex: 1;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.album-cover img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.add-feature1 button, .add-feature2 button {
    width: 300px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    background-color: #222222;
    color: white;
    cursor: pointer;
}

.add-feature1 button:hover, .add-feature2 button:hover {
    background-color: black;
    border: #6AE1DB 1px solid;
    color: white;
    transition: all ease 0.4s;
}

.all-playlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collab-playlist-container, .my-playlist-container {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    margin: 20px 0 5px 0;
    width: 600px;
    height: 150px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.collab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 17px;
}

h3 {
    color:white;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
}

.invite-button {
    background-color: #222222;
    border-color: white;
    color: white;
}

.invite-button:hover {
    background-color: black;
    border: #6AE1DB 1px solid;
    color: white;
    transition: all ease 0.4s;
}