.collabPlaylist {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 100px;
    color: white;
    margin: 0;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    background-color: black;
}

.collabPlaylist h2 {
    font-size: 30px;
    font-weight: bold;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: black;
    color: white;
}

.play-button, .invite-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color:white;
    font-size: 20px;
    border-color: #6AE1DB;
}

.play-button:hover, .invite-button:hover {
    border: none;
    background-color: #222222;
}

.song-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    padding-top: 50px;
}

.album {
    display: flex;
    align-items: center;
    gap: 15px;
}

.album img {
    border-radius: 10px;
}

#title {
    font-size: 18px;
}

.description p {
    margin: 0;
}
