.final-playlist {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.search-button {
    background-color: #6AE1DB;
    color: black;
    border: none;
    width: 90px;
    height: 50px;
    font-size: 17px;
    text-align: center;
}

.search-song input {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 500px;
    margin: 50px 0;
    font-size: 17px;
}

.collab-playlist-container, .my-playlist-container {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    width: 600px;
    height: 150px;
    align-items: center;
    gap: 15px;
}

.collab-playlist-container img , .my-playlist-container img {
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    gap: 5px;
    padding-right: 100px;
    align-items: flex-start;
}

.description p {
    margin: 0;
    padding-right: 100px;
}

.view-more {
    color: white;
    font-size: 14px;
    margin-top: 45px;
}

.view-more:hover {
    color: #6AE1DB;
    font-size: 14px;
}

.collab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 17px;
}

h3 {
    color:white;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
}

.invite-button {
    background-color: #222222;
    border-color: white;
    color: white;
}

.invite-button:hover {
    background-color: black;
    border: #6AE1DB 1px solid;
    color: white;
}