.Home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: #6AE1DB;
    font-size: 65px;
}

.subtitle {
    color: white;
    font-size: 30px;
    margin-top: 1px;
}

.buttons {
    display: flex;
    gap: 25px;
    font-size: 23px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: black;
    color: white;
    border-color: #6AE1DB;
    transition: all ease 0.4s;
}