.Playlist {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 100px;
    color: white;
    margin: 0;
    overflow-y: scroll;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    background-color: black;
}

.playlist-title {
    display: flex;
    align-items: center;
}

.Playlist h1 {
    font-size: 50px;
    font-weight: bold;
    color: #6AE1DB;
    margin-top: 50px;
    font-family: 'Times New Roman', serif;
}

.songs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 50px;
    margin-top: 80px;
}

.album {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    width: 210px;
    border: none;
}

.title {
    font-size: 18px;
    color: white;
}

.delete-button {
    justify-content: center;
    padding: 15px;
    background-color: white;
    color: black;
    margin-top: 20px;
}

.delete-button:hover {
    background-color: #222222;
    color: white;
    border-color: #6AE1DB;
}