.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    align-items: center;
    background-color: #222222;
    z-index: 1000;
}

.navbar .link, .navbar .last-link {
    color: lightgray;
    margin-left: 60px;
    font-size: 18px;
}

.navbar .link:hover, .navbar .last-link:hover {
    color: white;
    font-weight: bold;
}

.navbar .last-link {
    margin-right: 100px;
}